# Laboratorio 2
### Data science - Lynette Garcia
Daniel Gomez 21429
Abner Garcia 21285

In [15]:
import pandas as pd
from ydata_profiling import ProfileReport
import matplotlib.pyplot as plt
import seaborn as sns
from statsmodels.tsa.seasonal import seasonal_decompose
from statsmodels.tsa.stattools import adfuller
from statsmodels.graphics.tsaplots import plot_acf, plot_pacf
from statsmodels.tsa.arima.model import ARIMA
from sklearn.metrics import mean_squared_error

In [16]:
import pandas as pd

# Cargar los datos
combu = pd.read_csv('gas.csv', parse_dates=['Fecha'], index_col='Fecha', date_format='%b/%Y')

# Generar la columna 'Diesel' combinando 'Diesel bajo azufre' y 'Diesel ultra bajo azufre'
combu['Diesel'] = combu['Diesel bajo azufre'].fillna(0) + combu['Diesel ultra bajo azufre'].fillna(0)

# Seleccionar las columnas de interés
columns_of_interest = ['Gasolina regular', 'Gasolina superior', 'Diesel', 'Gas licuado de petróleo']
airPas = combu[columns_of_interest]

print('\nParsed Data:')
print(airPas.head())

# Dividir los datos en conjuntos de entrenamiento y prueba
train_size = int(len(airPas) * 0.7)
train_airPas = airPas[0:train_size]
test_airPas = airPas[train_size:len(airPas)]

Parsed Data:
         Gasolina regular Gasolina superior    Diesel Gas licuado de petróleo
Fecha
ene/2001       177.776,50        373.963,96  0,000,00              194.065,74
feb/2001       123.115,99        243.091,07  0,000,00              170.703,38
mar/2001       161.726,42        312.084,38  0,000,00              161.837,37
abr/2001       127.338,74        285.054,89  0,000,00              163.048,64
may/2001       168.730,19        300.913,67  0,000,00              171.518,86

In [17]:
airPas.head()

         Gasolina regular Gasolina superior    Diesel Gas licuado de petróleo
Fecha
ene/2001       177.776,50        373.963,96  0,000,00              194.065,74
feb/2001       123.115,99        243.091,07  0,000,00              170.703,38
mar/2001       161.726,42        312.084,38  0,000,00              161.837,37
abr/2001       127.338,74        285.054,89  0,000,00              163.048,64
may/2001       168.730,19        300.913,67  0,000,00              171.518,86

In [18]:
airPas.describe()

       Gasolina regular Gasolina superior    Diesel Gas licuado de petróleo
count               281               281       284                     281
unique              281               281        79                     281
top          177.776,50        373.963,96  0,000,00              194.065,74
freq                  1                 1       204                       1

In [19]:
analysis = ProfileReport(airPas)
analysis.to_file('gas_analysis.html')

C:\Users\Personal\AppData\Roaming\Python\Python311\site-packages\ydata_profiling\utils\dataframe.py:137: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.rename(columns={"index": "df_index"}, inplace=True)
Summarize dataset: 100%|██████████| 14/14 [00:00<00:00, 25.39it/s, Completed]
Generate report structure: 100%|██████████| 1/1 [00:02<00:00,  2.73s/it]
Render HTML: 100%|██████████| 1/1 [00:00<00:00,  3.15it/s]
Export report to file: 100%|██████████| 1/1 [00:00<00:00, 199.24it/s]

In [20]:
airPas.info()

<class 'pandas.core.frame.DataFrame'>
Index: 284 entries, ene/2001 to Nota: Información sujeta a actualización por presentación extemporánea y rectificacion de informes mensuales, por parte de los sujetos obligados.
Data columns (total 4 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Gasolina regular         281 non-null    object
 1   Gasolina superior        281 non-null    object
 2   Diesel                   284 non-null    object
 3   Gas licuado de petróleo  281 non-null    object
dtypes: object(4)
memory usage: 19.2+ KB